@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Lato&family=Playfair+Display:ital@1&display=swap');

:root{
    --ff-body: 'Lato', sans-serif;
    --ff-h1: 'Hammersmith One', sans-serif;
    --ff-h2: 'Playfair Display', serif;
    --shadow: 0 0 1em rgba(0,0,0, .45);
    --c-body: #FEE9C4;
    --c-text:#333;
    --c-green: #12362A;
    --c-ltgreen: #98A685;
    --c-white: #fffeff;
}

body {
    margin: 3;
    padding: 5;
    background-image: url('/DynamicMediaPlayer/imgs/tG.svg');
    background-color: #12362A;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 80%;
    font-size: 16px;
    font-family: var(--ff-body);
}

.basil {
    width: 30%; 
    box-shadow: var(--shadow);
}
.container {
    margin: 25% auto auto auto;
    display: grid;
    color: var(--c-white);
    width: 80%;
    box-sizing: border-box;
    place-items: center;
    border-radius: 20px;
    text-align: center;
}
h1 {
    font-family: var(--ff-h1);
}
h2 {
    font-family: var(--ff-h2);
    padding: 0 10% 0 10%;
    font-size: large;
    font-weight: 100;
}
h3 {
    font-family: var(--ff-h1);
    font-size:large;
    font-weight: 300;
}
video {
    width: 80%;
    border-radius: 20px;
    box-shadow: var(--shadow);
    
}
.info-card {
    background-color: var(--c-green);
    box-shadow: var(--shadow);
    border-radius: 20px;
    width: 45%;
    
}
.info-card > img{
    height: 10%;
}
ol {
    text-align: left;
}
input[type=button] {
    background-color: var(--c-ltgreen);
    border: none;
    color: var(--c-white);
    padding: 8px 32px;
    margin: 4px 2px;
    border-radius: 8px;
    box-shadow: var(--shadow);
    cursor: pointer;
}
fieldset {
    border: none;
    box-shadow: var(--shadow);
    border-radius: 10px;
  }

.recipe-list {
    text-align: left;
    padding: 0 10% 0 10%;
}
form {
    padding: 0 5% 0 5%;
    border: none;
}
#bottom-cards {
    display:flex;
    justify-content: space-evenly;
    
}
 .right {
    padding: 5% 10% 10% 10%;
 }
.bottom {
    padding: 3% 5% 3% 5%;
}
.highlight {
    font-weight: bold;
    color:#C73E21;
}
.ingredients {
    list-style-type: square;
}

.prepTime {
    list-style-type: none;
    padding-left: 15%;
}
footer {
    text-align: center;
    color: var(--c-white)
}

@media screen and (min-width: 1300px) {
    .container {
        justify-items: center;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
    }
    .top {
        grid-column: 1 / span 12;
        justify-items: center;
    
    }
    .left {
       
        grid-column: 1 / span 6;
        justify-items: center;
    
    }
    .right {
        background-color: var(--c-green);
        color: var(--c-white);
        grid-column: 7 / span 6;
        justify-items: center;
        
        box-shadow: var(--shadow);
        
    }
    .bottom {
        grid-column: 1 / span 12;
        justify-items: center;
        margin: 0 0 5% 0;
    }
}