@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Lato&family=Playfair+Display:ital@1&display=swap');

:root{
    --ff-body: 'Lato', sans-serif;
    --ff-h1: 'Hammersmith One', sans-serif;
    --ff-h2: 'Playfair Display', serif;

    --shadow: 0 0 1em rgba(0,0,0, .25);
    --c-body: #FEE9C4;
    --c-text:#333;
    --c-green: #12362A;
    --c-ltgreen: #98A685;
    --c-white: #fffeff;
}

body {
    margin: 3;
    padding: 5;
    background-image: url("/imgs/tomatoesGarlic.svg");
    background-color: #12362A;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 80%;
    font-size: 16px;
    font-family: var(--ff-body);
}

.basil {
    width: 30%; 
    box-shadow: var(--shadow);
}
.container {
    margin: 25% auto;
    display: grid;
    color: var(--c-white);
    width: 80%;
    height: calc(80% * (100vw / 100vh));
    box-sizing: border-box;
    place-items: center;
    box-shadow: var(--shadow);
    border-radius: 20px;
    text-align: center;
}
h1 {
    font-family: var(--ff-h1);
}
h2 {
    font-family: var(--ff-h2);
    padding: 0 10% 0 10%;
}
video {
    width: 80%;
    border-radius: 20px;
    box-shadow: var(--shadow);
    
}
.info-card {
    background-color: var(--c-ltgreen);
    box-shadow: var(--shadow);
    border-radius: 20px;
    width: 40%;
    
    
}
.recipe-list {
    text-align: left;
    padding: 0 10% 0 10%;
}
form {
    padding: 0 5% 0 5%;
}
#bottom-cards {
    display:flex;
    justify-content: space-evenly;
    
}
 .right {
    padding: 10%;
 }
.bottom {
    padding: 0 5% 5% 5%;
}

@media screen and (min-width: 1300px) {
    .container {
        justify-items: center;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
    }
    .top {
        grid-column: 1 / span 12;
        justify-items: center;
    
    }
    .left {
       
        grid-column: 1 / span 6;
        justify-items: center;
    
    }
    .right {
        background-color: var(--c-green);
        color: var(--c-white);
        grid-column: 7 / span 6;
        justify-items: center;
        
        box-shadow: var(--shadow);
        
    }
    .bottom {
        grid-column: 1 / span 12;
        justify-items: center;
        margin: 0 0 5% 0;
    }
}