@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Lato&family=Playfair+Display:ital@1&display=swap');

:root{
    --ff-body: 'Lato', sans-serif;
    --ff-h1: 'Hammersmith One', sans-serif;
    --ff-h2: 'Playfair Display', serif;

    --shadow: 0 0 1em rgba(0,0,0, .25);
    --c-body: #FEE9C4;
    --c-text:#333;
}

body {
    margin: 3;
    padding: 5;
    background-image: url("/imgs/tomatoesGarlic2.svg");
    background-color: #12362A;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 80%;
    font-size: 16px;
}

.basil {
    width: 30%; 
    box-shadow: var(--shadow);
}
.container {
    margin: auto;
    margin-top: 25%;
    display: grid;
    background-color: #FEE9C4;
    color: #333; 
    width: 80%;
    height: calc(80% * (100vw / 100vh));
    box-sizing: border-box;
    place-items: center;
    box-shadow: var(--shadow);
    border-radius: 20px;
    text-align: center;
}


@media screen and (min-width: 600px) {
    .container {
        justify-items: center;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
    }
    .top {
        font-family: var(--ff-h1);
        grid-column: 1 / span 12;
        justify-items: center;
    
    }
    .left {
        background-color: red;
        grid-column: 1 / span 6;
        justify-items: center;
    
    }
    .right {
        background-color: peru;
        grid-column: 7 / span 6;
        justify-items: center;
        padding: 10%;
        box-shadow: var(--shadow);
        
    }
    .bottom {
        grid-column: 1 / span 12;
        justify-items: center;
    }
}